header {
    background-image: url("insta.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 0px;
}
h1 {
    text-align: center;
    font-size: 50px ;
    padding-top: 40px;
    color: white;
}
.top-wrapper {
    padding: 50px 90px 70px 90px;
    background-color:  gainsboro;
}
main a {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:orangered;
    padding: 0px 9px;
}
ul {
    list-style: none;
}
.flex-list {
    display: flex;
    flex-wrap: wrap;
}
.flex-list li {
    flex:auto;
    width: 50%;
}
@media (max-width: 670px)
    .flex-list {
        flex-direction: column;
    }
    .flex-list li { 
        margin: 0 auto;
    }
    
